body {
  font-family: 'Times New Roman', Times, serif;
  background-color: white;
  text-align: center;
}

h1 {
  font-size: 44px;
  margin-top: 50px;
}

.main {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.image {
  flex-basis: 200px;
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}

#profilepic {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  border: 2px solid blue;
}

.about {
  text-align: left;
  max-width: 600px;
  margin: auto;
}

.about h2 {
  font-size: 34px;
  margin-bottom: 15px;
}

.about ul {
  list-style: disc;
  padding-left: 20px;
  color: black;
  font-size: 28px;
}

.about li {
  margin: 12px;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .image {
    justify-content: center;
    padding-left: 0;
    margin-bottom: 20px;
  }

  #profile-pic {
    width: 180px;
    height: 180px;
  }

  .about {
    text-align: center;
    max-width: 90%;
  }

  .about h2 {
    font-size: 28px;
  }

  .about ul {
    font-size: 22px;
    padding-left: 0;
  }

  .about li {
    text-align: left;
  }
}

